# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# virtual env
venv/
.env
.env.*

# Django
*.sqlite3
media/
staticfiles/

# logs
*.log

# IDE
.vscode/
.idea/

# test
.coverage
.pytest_cache/
htmlcov/

# OS
.DS_Store
Thumbs.db